<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="UTF-8">
<title>	登録画面</title>
</head>
<body>
	
	<h1>新規登録</h1>
	<!-- <form th:action="@{送信先URL}" th:object="${ここにController側の変数名}" method="送信方法"> -->
	<form th:action="@{/admin/signup}" th:object="${admin}" method="post">
	    <div>
	        <label>苗字</label>
	        <input type="text" th:field="*{lastName}"><!--//DB紐づける -->
	    </div>
		<div>
		    <label>名前</label>
		    <input type="text" th:field="*{firstName}">
		</div>
		<div>
		    <label>メールアドレス</label>
		    <input type="email" th:field="*{email}">
		</div>
		<div>
		    <label>パスワード</label>
		    <input type="password" th:field="*{password}">
		</div>
		<div class="button-group">
			<button type="submit">登録</button>
		</div>
	</form>
	<!-- ログイン画面への遷移ボタン -->
	<div class="button-group">
		<a th:href="@{/admin/signin}">
		    <button type="button">ログイン画面へ</button>
		</a>
	</div>

</body>
</html>